<h1>Players</h1>
<br/>
<div class="alert alert-info">
    <h5><i class="fa fa-check"></i>&nbsp;Hover Template</h5>
    <h5><i class="fa fa-check"></i>&nbsp;Cards Height = auto</h5>
</div>
<div ng-controller="jPlayersCtrl as cards">
    <script type="text/ng-template" id="/jCardClmnz.html">
        <j-card class="panel panel-danger">
            <div class="panel-heading">
                <i class="fa fa-soccer-ball-o"></i><span ng-bind="card.title"></span>
            </div>
            <div class="content-img" style="background-image:url('{{card.backgroundImg}}')"></div>
            <div class="panel-body">
                <div>
                    <span ng-bind="card.description"></span>
                </div>
            </div>
            <j-card-hover>
                <div class="panel">
                    <div class="panel-heading">&nbsp;</div>
                    <div class="panel-body">
                        <div class="btn-group btn-group-xs" role="group">
                            <button class="btn btn-warning">Career</button>
                            <button class="btn btn-warning">Personal Life</button>
                        </div>
                        <div class="btn-group btn-group-xs pull-right" role="group">
                            <button class="btn btn-info"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-info"><i class="fa fa-trash-o"></i></button>
                        </div>
                    </div>
                </div>
            </j-card-hover>
        </j-card>
    </script>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <j-cards class="pi-player-cards pi-player-cards-gtrd" j-card-match-height="false">
                <div class="" ng-repeat="card in cards.players.slice(0,4)" ng-include src="'/jCardClmnz.html'">
                </div>
            </j-cards>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <j-cards class="pi-player-cards pi-player-cards-gtrd" j-card-match-height="false">
                <div class="" ng-repeat="card in cards.players.slice(8,12)" ng-include src="'/jCardClmnz.html'">
                </div>
            </j-cards>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <j-cards class="pi-player-cards pi-player-cards-gtrd" j-card-match-height="false">
                <div class="" ng-repeat="card in cards.players.slice(4,8)" ng-include src="'/jCardClmnz.html'">
                </div>
            </j-cards>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <j-cards class="pi-player-cards pi-player-cards-gtrd" j-card-match-height="false">
                <div class="" ng-repeat="card in cards.players.slice(12,16)" ng-include src="'/jCardClmnz.html'">
                </div>
            </j-cards>
        </div>
    </div>
</div>
<h3>Html</h3>
<pre class="panel panel-default">
&lt;div ng-controller="jPlayersCtrl as cards"&gt;
  &lt;script type="text/ng-template" id="/jCardClmnz.html"&gt;
        &lt;j-card class="panel panel-danger"&gt;
            &lt;div class="panel-heading"&gt;
                &lt;i class="fa fa-soccer-ball-o"&gt;&lt;/i&gt;&lt;span ng-bind="card.title"&gt;&lt;/span&gt;
            &lt;/div&gt;
            &lt;div class="content-img" style="background-image:url('{{card.backgroundImg}}')"&gt;&lt;/div&gt;
            &lt;div class="panel-body"&gt;
                &lt;div&gt;
                    &lt;span ng-bind="card.description"&gt;&lt;/span&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;j-card-hover&gt;
                &lt;div class="panel"&gt;
                    &lt;div class="panel-heading"&gt;&nbsp;&lt;/div&gt;
                    &lt;div class="panel-body"&gt;
                        &lt;div class="btn-group btn-group-xs" role="group"&gt;
                            &lt;button class="btn btn-warning"&gt;Career&lt;/button&gt;
                            &lt;button class="btn btn-warning"&gt;Personal Life&lt;/button&gt;
                        &lt;/div&gt;
                        &lt;div class="btn-group btn-group-xs pull-right" role="group"&gt;
                            &lt;button class="btn btn-info"&gt;&lt;i class="fa fa-edit"&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;button class="btn btn-info"&gt;&lt;i class="fa fa-trash-o"&gt;&lt;/i&gt;&lt;/button&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/j-card-hover&gt;
        &lt;/j-card&gt;
    &lt;/script&gt;

    &lt;div class="row"&gt;
        &lt;div class="col-xs-12 col-sm-6 col-md-3"&gt;
            &lt;j-cards class="pi-player-cards pi-player-cards-gtrd" j-card-match-height="false"&gt;
                &lt;div class="" ng-repeat="card in cards.players.slice(0,4)" ng-include src="'/jCardClmnz.html'"&gt;
                &lt;/div&gt;
            &lt;/j-cards&gt;
        &lt;/div&gt;
        &lt;div class="col-xs-12 col-sm-6 col-md-3"&gt;
            &lt;j-cards class="pi-player-cards pi-player-cards-gtrd" j-card-match-height="false"&gt;
                &lt;div class="" ng-repeat="card in cards.players.slice(8,12)" ng-include src="'/jCardClmnz.html'"&gt;
                &lt;/div&gt;
            &lt;/j-cards&gt;
        &lt;/div&gt;
        &lt;div class="col-xs-12 col-sm-6 col-md-3"&gt;
            &lt;j-cards class="pi-player-cards pi-player-cards-gtrd" j-card-match-height="false"&gt;
                &lt;div class="" ng-repeat="card in cards.players.slice(4,8)" ng-include src="'/jCardClmnz.html'"&gt;
                &lt;/div&gt;
            &lt;/j-cards&gt;
        &lt;/div&gt;
        &lt;div class="col-xs-12 col-sm-6 col-md-3"&gt;
            &lt;j-cards class="pi-player-cards pi-player-cards-gtrd" j-card-match-height="false"&gt;
                &lt;div class="" ng-repeat="card in cards.players.slice(12,16)" ng-include src="'/jCardClmnz.html'"&gt;
                &lt;/div&gt;
            &lt;/j-cards&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>