<h1>Strikers</h1>
<br/>
<div class="alert alert-info">
  <h5><i class="fa fa-check"></i>&nbsp;Managed Cards Height (Cards with same height & responsive)</h5>
  <h5><i class="fa fa-check"></i>&nbsp;Background Image</h5>
  <h5><i class="fa fa-check"></i>&nbsp;Hover Template</h5>
  <h5><i class="fa fa-check"></i>&nbsp;Non-Gutterred Cards</h5>
</div>
<div ng-controller="jStrikersCtrl as cards">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <j-cards class="row pi-player-cards pi-player-cards-bg pi-player-cards-ngtrd">
          <j-card class="col-xs-12 col-sm-6 col-md-3" ng-repeat="card in cards.strikers|limitTo:8" j-card-bg="card.backgroundImg">
            <div class="panel">
              <div class="panel-heading h4">
                <i class="fa fa-futbol-o"></i><span ng-bind="card.title"></span>
              </div>
              <div class="panel-body">
                <div>
                  <span ng-bind="card.description"></span>
                </div>
              </div>
              <j-card-hover>
                <div class="panel">
                  <div class="panel-body">
                    <div class="btn-group btn-group-xs" role="group">
                      <button class="btn btn-danger">Career</button>
                      <button class="btn btn-danger">Personal Life</button>
                    </div>
                    <div class="btn-group btn-group-xs pull-right" role="group">
                      <button class="btn btn-primary"><i class="fa fa-edit"></i></button>
                      <button class="btn btn-primary"><i class="fa fa-trash-o"></i></button>
                    </div>
                  </div>
                </div>
              </j-card-hover>
            </div>
          </j-card>
        </j-cards>
      </div>
    </div>
  </div>
</div>
<h3>Html</h3>
<pre class="panel panel-default">
&lt;div ng-controller="jStrikersCtrl as cards"&gt;
    &lt;j-cards class="row pi-player-cards pi-player-cards-bg pi-player-cards-ngtrd"&gt;
      &lt;j-card class="col-xs-12 col-sm-6 col-md-3" ng-repeat="card in cards.strikers|limitTo:8" j-card-bg="card.backgroundImg"&gt;
        &lt;div class="panel"&gt;
          &lt;div class="panel-heading h4"&gt;
            &lt;i class="fa fa-futbol-o"&gt;&lt;/i&gt;&lt;span ng-bind="card.title"&gt;&lt;/span&gt;
          &lt;/div&gt;
          &lt;div class="panel-body"&gt;
            &lt;div&gt;
              &lt;span ng-bind="card.description"&gt;&lt;/span&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;j-card-hover&gt;
            &lt;div class="panel"&gt;
              &lt;div class="panel-body"&gt;
                &lt;div class="btn-group btn-group-xs" role="group"&gt;
                  &lt;button class="btn btn-danger"&gt;Career&lt;/button&gt;
                  &lt;button class="btn btn-danger"&gt;Personal Life&lt;/button&gt;
                &lt;/div&gt;
                &lt;div class="btn-group btn-group-xs pull-right" role="group"&gt;
                  &lt;button class="btn btn-primary"&gt;&lt;i class="fa fa-edit"&gt;&lt;/i&gt;&lt;/button&gt;
                  &lt;button class="btn btn-primary"&gt;&lt;i class="fa fa-trash-o"&gt;&lt;/i&gt;&lt;/button&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/j-card-hover&gt;
        &lt;/div&gt;
      &lt;/j-card&gt;
    &lt;/j-cards&gt;
&lt;/j-cards&gt;</pre>