<div ng-controller="jStrikersCtrl as cards">
  <h1>Top Scorers</h1>
  <br/>
  <div class="alert alert-info">
      <h5><i class="fa fa-check"></i>&nbsp;Managed Cards Height: Cards with same height & responsive</h5>
  </div>
  <j-cards class="row pi-player-cards pi-player-cards-gtrd">
    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="card in cards.strikers">
      <j-card class="panel">
        <div class="panel-heading h4">
          <i class="fa fa-soccer-ball-o"></i><span ng-bind="card.title"></span>
        </div>
        <div class="panel-body">
          <div>
            <span ng-bind="card.description"></span>
          </div>
        </div>
      </j-card>
    </div>
  </j-cards>
  <h3>Html</h3>
  <pre class="code">
  &lt;j-cards class="row pi-player-cards pi-player-cards-gtrd"&gt;
    &lt;div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="card in cards.strikers"&gt;
      &lt;j-card class="panel"&gt;
        &lt;div class="panel-heading h4"&gt;
          &lt;i class="fa fa-soccer-ball-o"&gt;&lt;/i&gt;&lt;span ng-bind="card.title"&gt;&lt;/span&gt;
        &lt;/div&gt;
        &lt;div class="panel-body"&gt;
          &lt;div&gt;
            &lt;span ng-bind="card.description"&gt;&lt;/span&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/j-card&gt;
    &lt;/div&gt;
  &lt;/j-cards&gt;</pre>
</div>
